﻿<div>
    <div class="calculator">
  
        <div class="display">{{ model.output }}</div>
        <div class="controls">
            <div class="row">
                <button class="wide" ng-click="model.clear()">C</button>
                <button ng-click="model.op('/')">/</button>
                <button ng-click="model.op('*')">*</button>
            </div>
            <div class="row">
                <button ng-click="model.appendNumber('7')">7</button>
                <button ng-click="model.appendNumber('8')">8</button>
                <button ng-click="model.appendNumber('9')">9</button>
                <button ng-click="model.op('-')">-</button>
            </div>
            <div class="row">
                <button ng-click="model.appendNumber('4')">4</button>
                <button ng-click="model.appendNumber('5')">5</button>
                <button ng-click="model.appendNumber('6')">6</button>
                <button ng-click="model.op('+')">+</button>
            </div>
            <div class="row double">
                <button class="tall right" ng-click="model.compute()">=</button>
                <div>
                    <button ng-click="model.appendNumber('1')">1</button>
                    <button ng-click="model.appendNumber('2')">2</button>
                    <button ng-click="model.appendNumber('3')">3</button>
                </div>
                <div>
                    <button class="wide" ng-click="model.appendNumber('0')">0</button>
                    <button ng-click="model.appendNumber('.')">.</button>
                </div>
            </div>
        </div>
    </div>
</div>